*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.logo img{
    width: 150px;
}
.right-nav img{
    width: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    box-shadow: 0.5px 0.5px 8px 0.5px;
}
nav ul li a{
    text-decoration: none;
    color: #233565;
}
.list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
    color: #233565;
    font-weight: bold;
}

.list{
    margin-top: 1rem;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.change-img{
    background-color: #dedede;
    border-radius: 50%;
    padding: 0.1rem;
    margin-left: 3px;
}

.cart img{
    margin-bottom: 10px;
}
.search-bar li input{
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    border: 1px solid #dedede;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar img{
    width: 20px;
    margin-top: 3px;
}
.search-bar button{
    border: 1px solid #dedede;
    padding: 0.21rem 0.4rem;
    border-radius: 0.3rem;
}

.user{
    position: relative;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    /* overflow: hidden; */
}
.user ul{
    position: absolute;
    top: 120%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    background: #dedede;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
}

.user ul li{
    font-size: 20px;
    margin-bottom: 2px;
    border-bottom: 1px solid #233565;
}

.user:hover > ul{
    visibility: visible;
    opacity: 1;
}

/* end of nav */

.name{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #233565;
}

.name-border{
    border: 1px solid #233565;
    border-radius: 0.1rem;
    width: 20rem;
    height: 1.9rem;
}
.email{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #233565;
}

.email-border{
    border: 1px solid #233565;
    border-radius: 0.1rem;
    width: 20rem;
    height: 1.9rem;
}
.message{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #233565;
}

.msg-border{
    border: 1px solid #233565;
    border-radius: 0.1rem;
}

.file{
    margin: 1rem 0;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.send input{
    padding: 4px 17px;
    border: 0;
    background-color: #233565;
    color: aliceblue;
    border-radius: 0.3rem;
}


.inside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}


.add-post button{
    border: 0;
    background-color: #233565;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
}
.Manage-post button{
    border: 0;
    background-color: #233565;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem 0.9rem;
}
.orders button{
    border: 0;
    background-color: #233565;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem 2.7rem;
}
.contactus button{
    border: 0;
    background-color: #233565;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem 0.87rem;
}
.left-content button a{
    text-decoration: none;
    color: aliceblue;
}
.left-content button{
    margin: 0.5rem;
}

table{
    text-align: center;
    font: 20px;
}
table th{
    color: #233565;
    border: 1px solid black;
}

.right-content p{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #233565;
    margin-top: -10rem;
    margin-bottom: 2rem;
}
.search-bar li input{
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    border: 1px solid #dedede;
}


.search-bar img{
    width: 25px;
    /* margin-top: 3px; */
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar form {
    display: flex;
    align-items: center;
}
.search-bar button[type="submit"] {
    background-color: #cecbcb;
    border: 1px solid #dedede;
    padding: 0.4rem 0.45rem;
    border-radius: 0.3rem;
}